/* COMMENTS: =comments
------------------------------------------------------------*/
#comments {
	margin-top: 30px;
	padding: 25px 0 0 0;
}
#comments h3 {
	color: #5d616e;
	margin-bottom:0px!important;
}
#comments span {
	display: block;
	color: #5d616e;
	font-size: .9em;
	font-style: oblique;
	margin-bottom: 20px;
}
#comments ul li {
	display: inline-block;
	margin-left: 10px;
}
#comments .gravatar {
    position: relative;
    padding: 4px 10px 0 0;
	height: 23px;
	width: 23px;
}
#comments .date {
	margin-bottom: 10px;
}
#comments .comment-info {
	border-bottom: 1px dotted #5c606e;
}
#comments .comment {
	margin-bottom: 20px;
}
#comments .comment-info,
#comments .answer-one {
	margin-left: 35px;
}
#comments .answer-two {
	margin-left: 70px;
}
#comments .answer-three {
	margin-left: 105px;
}
#comments .answer-four {
	margin-left: 140px;
}
#comments .answer-five {
	margin-left: 175px;
}
#comments .answer-six {
	margin-left: 210px;
}
#comments .answer-seven {
	margin-left: 245px;
}
#comments .admin {
	border: none;
}

/* RESPOND =respond
-----------------------------------------------------------------------------*/
#respond {
	margin: 10px 0 0 24px;
}
#respond h3 {
	color: #5d616e;
}
#respond span {
	display: block;
	color: #5d616e;
	font-size: .9em;
	font-style: oblique;
	margin-bottom: 20px;
}
#respond fieldset {
}
#respond p {
	margin-top: 8px;
	overflow: hidden;
}
#respond label {
	display: block;
	font-size: 1.13em;
	float: left;
	margin-top: 10px;
	padding-right: 20px;
	width: 90px;
}
#respond textarea {
	border: 2px solid #e6e6e6;
	font-size: 1.13em;
	margin: 3px 0;
	padding: 8px;
	height: 100px;
	width: 397px;
	resize: vertical !important;
}
#respond .a-tags {
	color: #5d616e;
	font-family:"Courier New", Courier, monospace;
}
#respond p.logged_in,
#respond p.cancel-comment-reply {
	font-size: 1.13em;
	line-height: 22px;
	margin-bottom: 0;
}
#respond fieldset.border {
	border-bottom: 1px dotted #cccccc;
	margin-top: 15px;
}
#respond input.text {
	border: 2px solid #e6e6e6;
	float: left;
	font-size: 1.13em;
	padding: 8px;
	width: 397px;
}
#respond input.required {
	background: #fff url(../img/required.png) 338px 50% no-repeat;
	padding-right: 91px;
	width: 315px;
}
#respond .submit_button {
	margin: 13px 0 40px 110px;
}
